<header class="title">
  <h1>
    <%= ( locals.teacher ) ? teacher.name : title %>
      <%= locals._module %>
      <%= locals._class %>
  </h1>
  <% for(link of locals.navlinks) {%>
    <a href="/<%= link %>"><%= link %></a>
  <%}%>
</header>