<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <style>
    @import url('/css/main.css');
  </style>
</head>

<body>
  <main>
    <%- include('../partials/header') %>
    <div class="nav">
      <% if (modules.length > 0){%>
        <div class="navlinks">
        <% for (let _module of modules) { %>
            <a href="<%= currentUrl %><%= _module.name %>">
              <span style="color: green;"><%= _module.code %></span> <%= _module.name %>
            </a>
        <% } %>
      </div>
     <% } else {%>
      <h3>No modules registeres here</h3>
      <% } %>
      <br>
    </div>
  </main><footer>
    <%- include('../partials/footer') %>
  </footer>
</body>
</html>

</html>