<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <style>
    @import url('/css/main.css');
  </style>
</head>

<body>
  <main>
    <%- include('../partials/header') %>
      <div class="nav">
        <div class="table">
          <table class="outlined-table">
            <tr>
              <th>S/N</th>
              <th>Registration Number</th>
              <th>Name</th>
              <th>Class</th>
            </tr>
            <% let index=0 %>
              <% for (let student of students) { %>
                <tr>
                  <td>
                    <%= ++index %>
                  </td>
                  <td>
                    <%= student.registrationnumber %>
                  </td>
                  <td>
                    <%= student.name %>
                  </td>
                  <td>
                    <%= student.class %>
                  </td>
                </tr>
                <% } %>
          </table>
        </div>
        <a title="Create new student profile" href="/new-student">Register new student</a>
        <br>
      </div>
  </main>
  <footer>
    <%- include('../partials/footer') %>
  </footer>
</body>

</html>