<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <style>
    @import url('/css/main.css');
  </style>
</head>

<body>
  <main>
    <%- include('../partials/header') %>
      <div class="nav">
        <div class="table">
          <table class="outlined-table">
            <tr>
              <th>S/N</th>
              <th>Identification Number</th>
              <th>Name</th>
            </tr>
            <% let index=0 %>
              <% for (let teacher of teachers) { %>
                <tr>
                  <td>
                    <%= ++index %>
                  </td>
                  <td>
                    <%= teacher.id %>
                  </td>
                  <td>
                    <%= teacher.name %>
                  </td>
                </tr>
                <% } %>
          </table>
        </div>
        <a title="Create new teacher profile" href="/new-teacher">Register new teacher</a>
        <br>
        <!-- <center><button onclick="window.history.back()" title="Go Back" class="back">Back</button></center> -->
      </div>
  </main>
  <footer>
    <%- include('../partials/footer') %>
  </footer>
</body>

</html>